<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://fakeimg.pl/300/" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">R$ {{valor}}</h5>
              <p>Condomínio R$ {{condominio}} • IPTU R$ {{iptu}}</p>
              <p class="card-text"> {{descricao}} <a href="#">mais</a>   </p>
              <div>
                  <p class="card-text">{{endereco}}</p>
                  <button class="btn btn-outline-secondary">Telefone</button>
                  <button class="btn btn-success">Alugar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>