<main>
    <div class="container" >
      <div class="row align-items-center" style="height: 60vh;"> 
        <div class="col-lg-1"></div>
        <div class="col-md-6 col-lg-5 text-light">
          <h1>Imoveis para alugar </h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ab sunt debitis rem quisquam vel officiis tempore. Exercitationem, voluptatibus totam!</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 rounded shadow-lg p-3 bg-body ">
          <form>
            <div class="mb-3">
              <!-- <label for="email" class="form-label">Email address</label> -->
              <input name="email" type="email" class="form-control py-3" id="InputEmail" aria-describedby="emailHelp" placeholder="Email address" />
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <!-- <label for="InputPassword1" class="form-label">Password</label> -->
              <input name="password" type="password" class="form-control py-3" id="InputPassword1" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary fw-bold w-100 p-2 fs-3 mb-3">Entrar</button>
          </form>
          
          <div class="mb-3 text-center">
            <a class="link-primary text-decoration-none " href="#">esqueceu a senha?</a>
          </div>
          <hr>
          <div class="d-flex justify-content-center w-100">
            <a href="{{URL}}/cadastro" class="btn btn-success fw-bold w-60 p-2 fs-5 my-2">Criar nova conta</a>
          </div>
          
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </main>